*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:   Times, 'Times New Roman', serif;
}
body{
    width: 100%;
    box-sizing: border-box;
}
.personel__globale{
    width: 80%;
    margin: auto;
    background-color: #9cd8dcce ; 
}
.personel__header{
    background-color: #8db8b8 ;
    margin-bottom: 20px;
}
.personel__header a{
    font-size: 2rem;
    color: white;
    text-decoration: none;
    padding: 3rem;
}

.personel__header h1{
    text-align: center;
    color: white;
    font-weight: 900;
    padding: 5%;
}
.education__body , .work__body , .peersonaleGL{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 200px black;
    border-radius: 12px;
}
.personelle_body_head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #8db8b8;
}
.personel__body  {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 200px black;

}
.photo_pers{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(26, 25, 25);
    color:rgb(26, 25, 25) ;
    width: 20%;
    margin: 2%;
    height: 10rem;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.photo_pers i{
    margin: 0;
    padding: 0;
    font-size: 40px;
    display: flex;
}
.fullname{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 90%;
    
}
.firstname , .lastname{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.lastname input , .firstname input{
    height: 40px;
    width: 80%;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
    color: rgb(82, 64, 49);
    
}
.lastname label , .firstname label{
    font-size: 20px;
    color: rgb(82, 64, 49);
    
}
.personelle_body_sh , .education_body_sh , .work_body_sh{
    display: flex;
    flex-direction: column;
    padding:  5% 10% ;
    background-color: #8db8b8;
    border-radius: 20px;
}
.personelle_body_sh input , .education_body_sh input , .work_body_sh input{
    height: 40px;
    width: 80%;
    margin: auto;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: none;
    color: rgb(82, 64, 49);
}
.personelle_body_sh label , .education_body_sh label, .work_body_sh label{
    font-size: 20px;
    padding: 1%;
    color: rgb(82, 64, 49);
    width: 80%;
    
}

/* progress */
.steps{
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}
.step{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: aliceblue;
    color: rgb(82, 64, 49);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: background 0.3s;
}
.step.active{
    background-color:rgb(230, 255, 5);
    box-shadow: 0 0 10px rgb(230, 255, 5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.personel__bottom{
    display: flex;
    gap: 30px;
    display: flex;
    justify-content: center;
}
button{
    padding: 16px;
    border: none;
    border-radius: 10px;
    background-color: rgba(103, 200, 58, 0);
    color: rgb(16, 42, 4);
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 0 10px black;
    margin: 20px;
    height: 50px;
    width: 10%;
    transition: background 0.3s;
}

.savebtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
button:hover{
    background-color: rgb(103, 200, 58);
    box-shadow: 0 0 20px rgba(230, 255, 5, 0.537);
    border: 0.3px solid #204d20;
    color: #ffffff;
}
button:disabled{
    background-color: aliceblue;
    cursor: not-allowed;
    color: rgb(255, 0, 0);
}

.pageS {
    display: none;
   
}

/* progress */
.page_step{
    display: block;
}
.cv__body{
    background-color: white;
    /* height: 1123px; */
    width: 794px;
    border: 0.1px solid black;
    background: none ;
    margin: auto;
    padding: 20px;
}
.photoCv{
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 30px;
}
.photoCv i{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}
.cv__body .des {
    padding: 20px;
}
.donee__personl{
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    gap: 30px;

}
.donee__personl p{
    padding: 2px;
}
h3{
    padding: 10px;
    text-align: center;
}
.enseignement  {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    gap: 30px;
}
.enseignement p , .exprswork p{
    padding: 2px;
}
.exprswork{
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    gap: 30px;
}
.cvbackg{
    background-color: white;
}
.lighn-separ{
    height: 0.2px;
    background-color: black;
    width: 70%;
    margin: auto;
}
.cvbackgbtn{
    display: flex;
    margin: auto;
    justify-content: center;
}

